<%= stylesheet_link_tag("/stylesheets/ajay.css") %>


<% @pictures.each_with_index do |p, index| %>
		<div class='image_box'>
    <%= image_tag(p.photo_url, :class => 'image' ) %>
		<div class='description_box'>
			<span class='description_text'>
    <%= p.description %>, <%= p.likes %>, <%= p.comments %>, <%= p.social_network %>
			</span>
		</div>
    <%# image_tag p.user_photo_url %>
    <%# p.user_name %>
		</div>
    
<% end %>
