<%= stylesheet_link_tag("/stylesheets/ajay.css") %>


<% @pictures.each_with_index do |p, index| %>
		<div class='image_box' id='image_<%=index%>'>
    <%= image_tag(p.photo_url, :class => 'image' ) %>
		<div class='description_box' id='description_<%=index%>' >
			<span class='description_text'>
    <%= p.description %>, <%= p.likes %>, <%= p.comments %>, <%= p.social_network %>
			</span>
		</div>
    <%# image_tag p.user_photo_url %>
    <%# p.user_name %>
		</div>
    
<% end %>


<script>
$(".image_box").hover(
  function () {
	  var index = $(this).attr("id").split("_")[1];
    // $(this).append($("<span> ***</span>"));
		$("#description_"+index).show();
		
  }, 
  function () {
		var index = $(this).attr("id").split("_")[1];
    // $(this).find("span:last").remove();
  }
);

</script>